<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>STR</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>datasource</param-name>
        <param-value>jdbc/tlog</param-value>
    </context-param>
    <context-param>
        <param-name>datasource2</param-name>
        <param-value>jdbc/cim</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>GetSTRDetailsByEngineer</servlet-name>
        <url-pattern>/GetSTRDetailsByEngineer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>GetEmbeddedObjs</servlet-name>
        <servlet-class>com.STR.GetEmbeddedObjs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSTRDetailsByEngineer</servlet-name>
        <servlet-class>sources.GetSTRDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEmbeddedObjs</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <context-param>
        <param-name>promis</param-name>
        <param-value>promis:11986</param-value>
    </context-param>
    <!-- <security-constraint>
    <display-name>Restricted</display-name>
    <web-resource-collection>
    <web-resource-name>Restricted</web-resource-name>
    <description/>
    <url-pattern>/index.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    <description/>
    <role-name>authenticated</role-name>
    </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Realm</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/login.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>authenticated</role-name>
    </security-role> -->
</web-app>
